.nave{
    background-color: black !important;
    color: lightgray !important;
}

.sobremim{
    width: 100%;
    height: 946px;
    display: flex;
    border: 1px solid black;    
    background-image: url(../imgs/fundo-sobremim.png) !important;
    background-size: cover;
}

.foto{
    display: flex;
    width: 50%;
}

.foto img{
    border: 1px solid none;
    border-radius: 50px;
    box-shadow: 0px 10px 30px white;
}

#foto-perfil{
    grid-area: 1/1;
    transition: 0.5s ease;

}

#foto-perfil:hover{
    filter: brightness(0.5) blur(3px);
    transition: 0.2s;
    transform: scale(1.02);
    transition: 0.5s;
}

.img-container{
    display: grid;
    place-items: center;
}

.img-container a{
    display: none;
    height: 40%;
}


.img-container:hover #icone-linkedin{
    display: block;
    opacity: 1;
    transition: 0.5s;
}

#icone-linkedin{
    opacity: 0;
    grid-area: 1/1;
    filter: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    z-index: 2;
    pointer-events: none;
}









.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40%;
    font-size: 20px;
    
    
}

.subtexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo{
    height: 40%;
    width: 100%;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.titulo h1{
    font-size: 60px;
    line-height: 0.9;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: lightgray;
    text-align: center;
    transition: 0.5s ease;
}

.titulo h1{
    transform: scale(1.02);
    transition: 0.5s;
}

.titulo h2{
    transform: scale(1.1);
    transition: 0.5s;
}

.titulo h2{
    font-size: 24.5px;
    margin-top: 7px;
    color: lightgray;
    font-family: "Open Sans", sans-serif;
    transition: 0.5s ease;
}

.legenda{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.legenda h1{
    color: lightgray;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    transition: 0.5s ease;
}

.legenda p:hover{
    transform: scale(1.01);
    transition: 0.5s;

}

.legenda h1:hover{
    transform: scale(1.02);
    transition: 0.5s;
}

.legenda p{
    color: lightgray;
    font-family: "Open Sans", sans-serif;
    transition: 0.5s ease;
    width: 72%;
    font-size: 22.5px;
    text-align: center;
}

.parte1{
    width: 30%;
    height: 100%;
}

.parte2{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.parte2 h1{
    color: lightgray;
    font-size: 55px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    transition: 0.5s ease;
}

.parte2 h1:hover{
    transform: scale(1.02);
    transition: 0.5s;
}

.parte3{
    width: 25%;
}

.espaco{
    height: 13%;
}

