.sobremim{
    width: 100%;
    height: 900px;
    display: flex;
    background-color: black;
    border: 1px solid black;    
}

.foto{
    display: flex;
    width: 50%;
    border: 1px solid black;
    

}

.foto img{
    border: 1px solid black;
    border-radius: 50px;
}

.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    width: 40%;
    font-size: 20px;
    
    
}

.subtexto h1{
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
}

.subtexto h2{
    line-height: 0.9;
}
.subtexto p{
    width: 80%;
}

.subtexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    text-align: left;
}

.texto h1, p{
    color: lightgray;
    margin-top: 10px;
}

.titulo{
    height: 40%;
    width: 100%;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    
}

.titulo h1{
    font-size: 60px;
    line-height: 0.9;
    font-weight: bold;
}

.titulo h2{
    font-size: 30px;
    margin-top: 7px;
    color: lightgray;
}

.parte1{
    width: 30%;
    height: 100%;
    border: 1px solid black;
}

.parte2{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.parte2 h1{
    color: lightgray;
    font-size: 55px;
    font-weight: bold;
}

